absl-py==0.9.0
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
astroid==2.3.3
backcall==0.2.0
beautifulsoup4==4.9.0
blinker==1.4
Brlapi==0.6.6
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
decorator==4.4.2
defer==1.0.6
Deprecated==1.2.10
dill==0.2.9
distro-info===0.18ubuntu0.18.04.1
feedparser==5.2.1
Flask==1.1.2
Flask-Dance==3.0.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
grpcio==1.26.0rc1
Guake==3.0.5
gunicorn==20.0.4
h5py==2.10.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.15.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mps-youtube==0.2.7.1
msgpack==0.5.6
msgpack-numpy==0.4.4
murmurhash==0.28.0
netifaces==0.10.4
numpy==1.19.0
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
onboard==1.4.1
pafy==0.5.2
pandas==1.0.5
parso==0.7.1
pbr==3.1.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==5.1.0
plac==0.9.6
preshed==1.0.1
prompt-toolkit==3.0.7
protobuf==3.0.0
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
PyGithub==1.53
Pygments==2.6.1
pygobject==3.26.1
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
pyRFC3339==1.0
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
python-xlib==0.27
pytz==2020.1
PyUserInput==0.1.11
pyxattr==0.6.0
pyxdg==0.25
PyYAML==5.3.1
regex==2018.1.10
reportlab==3.4.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
scikit-learn==0.23.1
scipy==1.5.0
scour==0.36
SecretStorage==2.3.1
simplejson==3.13.2
six==1.15.0
soupsieve==2.0
SQLAlchemy==1.3.19
SQLAlchemy-Utils==0.36.8
system-service==0.3
systemd-python==234
termcolor==1.1.0
thinc==6.10.3
threadpoolctl==2.1.0
tinydb==3.9.0.post1
toolz==0.10.0
tqdm==4.46.0
traitlets==4.3.3
typed-ast==1.4.0
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==2.0.3
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.25.10
URLObject==2.4.3
usb-creator==0.3.3
wadllib==1.3.2
wcwidth==0.2.5
webencodings==0.5
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.12.1
xkit==0.0.0
youtube-dl==2020.5.8
zope.interface==4.3.2
